* {
	box-sizing: border-box;
	margin: 0 auto;
}
html, body {
	height: 100%;
	font-family: "Lato", sans-serif;
}
#bubble1 {
	font-family: "Oswald", sans-serif;
	font-size: 4.5em;
	padding: 10px 0px 10px 25px;
	position: relative;
	width: 100%;
	height: 95px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#bubble1:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 0px 15px 15px;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 10%;
}
#bubble2 {
	display: none;
	color: #f45676;
	font-family: "Lato", sans-serif;
	font-size: 4em;
	position: relative;
	padding: 12px 0px 10px 30px;
	width: 100%;
	height: 90px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#bubble2:after {
	display: none;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 0px 15px 15px;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 5%;
}
#byline, #teaser {
	display: none;
	position: relative;
	margin-top: 7%;
	text-align: center;
	font-weight: 400;
	margin-left: 1.5%;
}
#teaser {
	display: none;
	font-family: "Oswald", sans-serif;
	font-size: 1.2em; 
	padding-left: 10%; 
	padding-right: 10%;
}
#button {
	display: none;
	margin-left: 40%;
	margin-top: 30%;
}
.btn-default {
	background: none;
	background-color: #eee;
	font-size: 1.2em;
}
.container-fluid {
	width: 100%;
	max-width: 1824px;
	height: 100%;
	background-image:url("pics/couple.jpg");
}
#intro {
	font-family: "Lato", sans-serif;
	width: 100%;
	text-align: left;
	margin-top: 25%;
	position: relative;
}
#introContainer, #introVid{
	height: 100%;
}
#introVid {
	padding-top: 3%;
}
#pullquote {
	font-family: "Lato", sans-serif;
	width: 100%;
	text-align: left;
	margin-top: 25%;
	position: relative;
	color: #2b3865;
}
#pullquoteContainer {
	height: 100%;
}
p {
	margin-top: 3%;
	font-size: 1.2em;
}
#sec1right, #sec2right, #sec3right, #sec4right {
	margin-bottom: 40px;
}
#sec1right {
	float: right;
}
.navbar img {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 40px;
}
.navbar img:hover {
	cursor: pointer;
}
.navbar p {
	font-size: 0.7em;
	margin-bottom: 5px;
	text-align: right;
	margin-right: 12px;
}
.navbar {
	z-index: -1;
	position: fixed;
	top: 5px;
	margin-left: 5px;
	left: 93%;
	padding-left: 10px;
	padding-top: 42px;
	background-image: url("pics/packaging.png");
	padding-bottom: 20px;
	border: 0 #ffffff;
}
h1 {
	text-transform: uppercase;
}
h2 {
	font-family: "Oswald", sans-serif;
	color: #f45676;
}
img {
	width: 100%;
}
#clear1, #clear2, #clear3, #clear4 {
	height: 10px;
}
.subhead {
	margin-bottom: 1%;
}
#container1, #container2, #container3, #container4 {
	margin-bottom: 5%;
}
.is_stuck {
	float: right;
}
h3 {
	font-family: "Oswald", sans-serif;
}
#bijan {
	color: #2b3865;
	position: relative;
	padding-top: 250%;
	text-align: right;
}
#julia {
	text-align: left;
	position: relative;
	padding-top: 150%;
	color: #f45676;
}