* {
	box-sizing: border-box;
	margin: 0 auto;
}
html, body {
	height: 100%;
	font-family: "Lato", sans-serif;
}
#bubble1 {
	font-family: "Oswald", sans-serif;
	font-size: 4.5em;
	padding: 10px 0px 10px 25px;
	position: relative;
	width: 100%;
	height: 95px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#bubble1:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 0px 15px 10px;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 10%;
}
#bubble2 {
	display: none;
	color: #f45676;
	font-family: "Lato", sans-serif;
	font-size: 4em;
	position: relative;
	padding: 12px 0px 10px 30px;
	width: 100%;
	height: 90px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#bubble2:after {
	display: none;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 0px 15px 15px;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 5%;
}
#byline, #teaser {
	display: none;
	position: relative;
	margin-top: 7%;
	text-align: center;
	font-weight: 400;
	margin-left: 1.5%;
}
#teaser {
	display: none;
	font-family: "Oswald", sans-serif;
	font-size: 1.2em; 
	padding-left: 10%; 
	padding-right: 10%;
}
#button {
	display: none;
	margin-left: 40%;
	margin-top: 30%;
}
.btn-default {
	background: none;
}
.container-fluid {
	width: 100%;
	max-width: 1824px;
	height: 100%;
	background-image:url("couple.jpg");
}
.container {
	height: 100%;
}
.content {
	margin-top: 1%;
}
.container .content {
	height: 100%;
	width: 100%;
	clear: both;
}
.dynamic {
	background: green;
	float: right;
}
#intro {
	margin-top: 20%;
	font-family: "Lato", sans-serif;
	height: 100%;
	width: 100%;
	text-align: left;
}
p {
	font-size: 1.5em;
}
#subhead1, #subhead2, #subhead3 {
	font-family: "Oswald", sans-serif;
	margin-top: 5%;
	clear: both;
}
.stuck {
	position: fixed;
	top: 28px;
}
#clear1, #clear2, #clear3, #clear4 {
	height: 5px;
}
.unstuck {
	position: relative;

}
#sec1right, #sec2right, #sec3right {
	margin-bottom: 40px;
}
.navbar {
	z-index: -1;
	position: fixed;
	top: 10px;
	left: 93%;
}
img:first-of-type {
	margin-top: 10px;
}
